.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 700px;
  padding: 2rem 0;
}

.introduction img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
