* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding-top: 56px;
}

h1 {
  color: #007bff;
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

footer {
  background-color: #007bff;
  color: #fff !important;
  padding: .7rem;
  text-align: center;
}

footer p {
  margin: 0 !important;
}

.container {
  min-height: calc(100vh - 126px);
}
